*{
  box-sizing: border-box;
  font-family: "Poppins", tahoma , sans-serif;
  margin: 0;
  padding: 0;
}

header {
  position: absolute;
  width: 80%;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

nav{
  padding: 0 !important;
  width: 100%;
  height: 60px;
  background-color: #fff;
  border-radius: 18px;
  font-weight: bold;
}

.nav-link{
  color: #111;
  font-weight: 600;
}

.nav-link:hover{
  color: #00bcd4;
}

.navbar-brand img{
  height: 50px;
}

#navbarNavDropdown{
  margin-top: 10px;
  width: 100%;
  background-color: #fff;
  padding: .5rem 1.5rem;
  border-radius: 16px;
}

#navbarNavDropdown .dropdown-menu a:hover{
  background-color: #00bcd4;
  color: #fff;
}

#hero{
  position: relative;
  padding-bottom: 4rem;
  background-image: linear-gradient(
    to bottom right,
    rgba(34, 48, 170, 0.747),
    rgba(8, 161, 161, 0.8)
  );
  overflow: hidden;
}

#hero #hero-text{
  padding: 2rem 2rem;
  height: fit-content;
} 
#hero h1{
  margin: 1rem 0;
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}

#hero p{
  margin-top: 1rem ;
  font-size: 1.2rem;
  color: #fff;
}

#carousel-hero{
  height: 100%;
}

#carousel-hero img{
  width: 100%;
  height: 450px;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

#carousel-hero .carousel-item {
  position: relative;
}

#carousel-hero .carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0) 80%,
    rgba(0, 0, 0, 0.6) 100%
  );
  z-index: 1;
}

#nuestra-vision{
  font-size: 1.2rem;
  margin: auto;
  padding: 6rem 1.5rem;
}

#nuestra-vision h2{
  font-size: 1.9rem;
  font-weight: bold;
}


#nuestra-vision-text p{
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#nuestra-vision-text span{
  color: #00bcd4;
  font-weight: bold;
}

#nuestra-vision-text ul{
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#nuestra-vision-text li{
  list-style: none;
  padding-bottom: 1rem;
  margin: 0;
}

#nuestra-vision-asside{
  background-color: #080808;
  color: #fff;
  text-align: center;
  height: fit-content;
  width: fit-content;
  border-radius: 1rem;
  padding: 2rem 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#nuestra-vision-asside hr{
  height: 3px;
  background-color: gray;
  border: none;
  width: 85%;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

#nuestra-vision-asside h3{
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 1;
}

#nuestra-vision-asside p{
  margin-top: 1.5rem;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1;
}

#carr{
  padding: 0 1.5rem;
  margin: auto;
  margin-bottom: 6rem;
  margin-top: 12rem;
}

#carr h2{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

#carr img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 16px;
}

#seccion-miembros{
  padding: 5rem 0;
  text-align: center;
}

#seccion-miembros h2{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

#seccion-miembros .miembros-imgs{
  padding: 2rem 1.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
  justify-items: center;
  align-items: center;
}

#seccion-miembros .miembros-imgs img{
  filter: grayscale(100%);
  max-height: 100px;
  max-width: 130px;
  display: block;
}

.img-bg-black{
  background-color: #000;
  padding: 0.5rem;
}

footer{
  height: fit-content;
  background-color: #080808;
  color: #fff;
  padding: 2rem 0;
}

footer ul{
  padding: 0;
  margin: 0;
}

footer ul li{
  list-style: none;
}


footer .footer-links a{
  text-decoration: none;
  color: gray;
  font-weight: 500;
}

footer .footer-links a:hover{
  text-decoration: underline;
}


footer .footer-redes ul{
  display: flex;
  gap: 1rem;
}

footer .footer-redes li{
  padding: 7px;
  background-color: gray;
  border-radius: 16px;
}

footer .footer-redes li:hover{
  background-color: #008c9e;
}

footer .copy{
  text-align: center;
  margin: auto;
  margin-top: 2rem;
  font-size: 0.875rem;
  color: gray;
}


  
/* ESTILOS MAPBOX */

#map {
  margin: 6rem auto;
  border-radius: 16px;
  width: 90%;
  height: 400px;
}

.marker {
  background-image: url('https://docs.mapbox.com/demos/custom-markers-gl-js/mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: fit-content;
}

.map-popups .mapboxgl-popup-content{
  text-align: center;
  text-size-adjust: inherit;
  background-color: #fff !important;   /* negro */
  color: #080808 !important;              /* texto blanco */
  font-family: Arial, sans-serif;
  padding: 15px;
  border-radius: 10px;
  font-size: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

/* Flechita del popup */
.map-popups .mapboxgl-popup-tip {
  border: solid 5px;
  border-top-color: #111 !important; /* mismo color que el fondo */
}

/* Título dentro del popup */
.map-popups .mapboxgl-popup-content h5 {
  margin: 0 0 5px 0;
  font-size: 16px;
  font-weight: bold;
  color: #00bcd4; /* celeste */
}

/* Texto dentro del popup */
.map-popups .mapboxgl-popup-content p {
  margin: 0;
  font-size: 13px;
  color: #ddd;
}

/* ESTILOS MAPBOX */

@media (min-width: 768px) {
  
  header{
    width: 550px;
  }

  #navbarNavDropdown{
    margin-top: 0;
    height: 50px;
}

  #hero{
    gap: 5rem;
  }

  #hero #hero-text{
    text-align: left;
    width: 50%;
    padding: 0;
    margin-left: 6rem;
  } 

  #hero h1{
    padding-top: 7rem;
    font-size: 4rem;
  }
  

  #carousel-hero{
    width: 600px;
    height: 90vh;
    overflow: hidden;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  #carousel-hero img{
    width: 600px;
    overflow: hidden;
    height: 90vh;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  #carousel-hero .carousel-caption{
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
  }

  #nuestra-vision{
    padding-left: 0;
    padding-right: 0;
  }

  #nuestra-vision-text{
    padding-left: 0;
    padding-right: 3rem;
    text-align: left;
  }

  #carr{
    width: 90%;
  }

  #carr img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 16px;
  }

  footer .footer-links ul{
    gap: 2rem;
    align-items: center;
}


}

